body {
    background-color: lavender;
}

nav a {
    color: red
}

#current-link{
    text-decoration: none;
}

.uppercase{
    text-transform: uppercase;
    font-size: 100px;
}

h1{
    border: 3px inset black;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 40px;
}